<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Halo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>comgooglemaps</string>
		<string>fb-messenger</string>
        <string>fbapi</string>
        <string>fbapi20130214</string>
        <string>fbapi20130410</string>
        <string>fbapi20130702</string>
        <string>fbapi20131010</string>
        <string>fbapi20131219</string>
        <string>fbapi20140410</string>
        <string>fbapi20140116</string>
        <string>fbapi20150313</string>
        <string>fbapi20150629</string>
        <string>fbapi20160328</string>
        <string>fbauth</string>
        <string>fb-messenger-share-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Your current location will be displayed on the map and used to determine the location where we can provide you delivery service</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Your current location will be displayed on the map and used to determine the location where we can provide you delivery service</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Your current location will be displayed on the map and used to determine the location where we can provide you delivery service</string>
	<key>NSCameraUsageDescription</key>
	<string>Access to camera to take picture and upload picture</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access photo library for upload picture purpose</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
            <string>fb185752836921478</string>
            <string>com.googleusercontent.apps.905459932446-nnmbvckrhka4b4eibcpco5k8abmprch6</string>
        </array>
      </dict>
    </array>
    <key>FacebookClientToken</key>
    <string>e273e56a54790654142b156dd523f729</string>
    <key>FacebookAppID</key>
    <string>185752836921478</string>
    <key>FacebookDisplayName</key>
    <string>Halo Express</string>
    <key>CFBundleURLTypes</key>
      <array>
        <dict>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>CFBundleURLName</key>
          <string>halo.express</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>halo</string>
            <string>fb185752836921478</string>
            <string>com.googleusercontent.apps.905459932446-nnmbvckrhka4b4eibcpco5k8abmprch6</string>
          </array>
        </dict>
      </array>
      <key>NSBonjourServices</key>
      <array>
          <string>_dartobservatory._tcp</string>
      </array>
      <key>FirebaseAppDelegateProxyEnabled</key>
      <false/>
      <key>FacebookAutoLogAppEventsEnabled</key>
      <string>TRUE</string>
      <key>FacebookAdvertiserIDCollectionEnabled</key>
      <string>TRUE</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
